*{

    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*header*/


header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px 240px;

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.game{
    color:#FF42A5 ;
}
.follow-us{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 230px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}
nav {
    margin-left: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
  }

  /*header end*/


  /*hero banner*/


  .mainbanner{
      display: flex;
      justify-content: space-between;
  }

  .banner{
    background-image: url(images/Group\ 14.png);
    width: 100%;
    
    background-repeat: no-repeat;
  }

  .baner-con h2{
    font-size: 3rem;
    font-weight: 600;
    color: #0B0223;

  }
 .iconperaadj{
  display: flex;
  justify-content:flex-start;
  text-align: center;
  align-items: center;
  gap: 5px;

 }

 .signin{
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  background-color: #F948B2;
}

.signin:hover{
  color: white;

}


 .gorough{
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  background-color:#4EC5F7;
 }

 .gorough:hover{
  color: white;
 }


  .baner-con h1{
    font-size: 5rem;
    font-weight: 800;
    color: #0B0223;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

  }




  .baner-con{

    margin-left: 240px;
    padding-top: 200px;
  }
  .banner-image{
    
    margin-right: 240px;
    overflow: visible;


    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    
  }
 

  
 /*gamer-sec*/


/*funny vedio*/


.funny-vedio{
  text-align: center;
  padding: 100px 240px ;
}
.funny-vedio h1{
  font-size: 3rem;
  font-weight: 700px;
  color: #0B0223;
  
}
.funny-vedio span{
  font-size: 3rem;
  font-weight: 700px;
  color:#F948B2;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  
}
.funny-vedio p{
  font-size: .8rem;
  font-weight: 700px;
  color: #534C64;
  
}


/*card*/
.funny-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}






.card img:hover{
  border: 5px solid #ff42a5;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url('../images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
  opacity: 60%;

}





.card img{
  max-width: 320px;

}
.card p{
  color: #534C64;
  font-size: 1rem;
  font-weight: 500;

}



.himage-container {
  position: relative;
  display: inline-block;
}

.himage-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.himage-container:hover .himage-button {
  opacity: 1;
}
.himage-container:hover .watchnow {
  opacity: 2;
}

.watchnow{

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  color:#FF42A5;
  font-weight: 700;
  font-size: 1.5rem;
}






/*instant*/


.play-instant {
  max-width: 75%;
  margin: 0 auto;
  height: 45.125rem;
  display: flex;
  justify-content: space-between;
}

.play-instant-text {
  width: calc(100% - 48.75rem);
  height: 45.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 7.5rem;
}

.play-instant-title {
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
}

.play-instant-color {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-instant-subtitle {
  color: #534C64;
  text-align: right;
  font-size: 1.125rem;
}

.play-instant-img {
  width: 48.75rem;
  height: 45.125rem;
  position: relative;
}

.play-instant-img-1 {
  width: 39.625rem;
  height: 40.625rem;
  position: absolute;
  top: 0;
  right: 0;
}

.play-instant-img-1 img {
  width: 39.625rem;
  height: 40.625rem;
}

.play-instant-img-2 {
  width: 19.875rem;
  height: 22.8125rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.play-instant-img-2 img {
  width: 19.875rem;
  height: 22.8125rem;
}


/*buttons*/
.buttons{
 
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
 

}

.packetbutton{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 370px;

}


.image-button {
  display: inline-flex;
  
  justify-content: center;
  padding: 10px;
  border: none;
  background-color:#FFF;
  border-radius: 50px;
  align-items: center;
  font-size: 1.2rem;
  color:#0B0223;
  font-weight: 600;
  

  
}

.image-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 5px;
}
button{
  max-width: 240px;
}
button:hover{

  border: 2px solid #FF42A5 ;
  color: #F948B2;
  
  transition:0.25s;
  
}

/*Footer*/

footer{
  background-color: #0B0223;
  color:#FFF;
  display: block;
  text-align: center;
  align-items: center;
  padding: 100px 0px;

}
.footer-list ul{
  
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 30px;

}
.footer-list ul li a{
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
}
.footer-list, .footer-list2 ul li a{
  text-decoration: none;
  color:#757575;
  font-weight: 600;
}
.footer-list2 ul{
  
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 30px;

}
.flogo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.fotter-icon{
  display: flex;
  justify-content: center;
}

.playgames, .copyright{
  color: #686666;
  font-weight: 700;
}
/*playgames*/






/*responsve mobile*/


@media screen and (max-width: 767px) {

    header{
        padding: 50px 150px;  
        flex-direction: column;  
     }
     nav {
        margin-left:0;
     }
       
      nav ul {
        flex-direction: column;
      }

      .hero{

        padding: 50px 150px;  
        flex-direction: column-reverse;
    
      }
      
      /*funnyresponsve*/

     .funny-vedio{
        text-align: center;
        padding: 80px 0px ;
      }

      .funny-vedio h1{
        font-size: 1.2rem;
        font-weight: 700px;
        color: #0B0223;
        
      }
      .funny-vedio span{
        font-size: 1.2rem;
        font-weight: 700px;
        color:#F948B2;
      }
      
      .funny-card{
        flex-direction: column;
      
      }

      .card img{
        max-width: 200px;
      }

      .packetbutton{
        text-align: center;
        padding: 100px 0px ;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
      }
      .image-button{
        font-size: 0.6rem;
      }
      .image-button img {
        width: 30px;
        height: 30px;
        object-fit: contain;
        margin-right: 5px;
      }

/*footer*/

      .footer-list ul{
  
        list-style: none;
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        padding-right: 20px;
      }
      .footer-list2 ul{
  
        list-style: none;
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding-right: 25px;
      }

      .fotter-icon{
        flex-direction: column;
      }
  

      .mainbanner{
        flex-direction: column-reverse;
        
    }

    .banner-image img{
     
      max-width:250px;
      padding-left: 30px;
      
    }
    .banner{
      background-image: url(images/Group\ 14.png);
      width: 100%;
      height:auto;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
    .baner-con{
  
      margin: 20px 0px;
      padding: 0px;
      text-align: center;
    }
    .banner-image{
  
      
      height: 300px;
    }
    .banner-image img{
  
      width: 300px;
      padding: 30px;
    }
      
      
    .baner-con h2{
      font-size: 1.2rem;
      
  
    }
   .iconperaadj{
    display: flex;
    justify-content:flex-start;
    padding-left: 20px;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
  
   }
   .icon-pra{
    display: grid;
    justify-content: center;
   }
  
   .signin{
    height: 30px;
    width: 140px;
    color: #FFF;
    font-weight: 600;
    font-size: 0.7rem;
    align-items:center;
    
  }
   .gorough{


    height: 30px;
    width: 140px;
    color: #FFF;
    font-weight: 600;
    font-size: 0.7rem;
    align-items:center;
    
   }
  
    .baner-con h1{
      font-size: 2rem;
    }


   /* Play instant styles */
   .play-instant {
    max-width: 320px;
    height: auto;
    /* justify-content: space-between; */
    flex-direction: column;
}

.play-instant-text {
    width: 320px;
    height: auto;
    padding-right: 0;
}

.play-instant-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.play-instant-subtitle {
    text-align: center;
    font-size: 1rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

.play-instant-img {
    width: 300px;
    height: 290px;
    position: relative;
}

.play-instant-img-1 {
    width: 225px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
}

.play-instant-img-1 img {
    width: 225px;
    height: 250px;
}

.play-instant-img-2 {
    width: 125px;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.play-instant-img-2 img {
    width: 125px;
    height: 140px;
}
    
  
  
         
}

/*responsve Tab*/

@media screen and (min-width: 768px) and (max-width: 1023px){
  
    header{
        padding: 50px 100px;  
        flex-direction: column;  
     }
     nav {
        margin-left: 0px;
      }
      nav ul {
        flex-direction: column;
      }
    
    
    .funny-vedio{
      text-align: center;
      padding: 80px 0px ;
    }

    .card img{
      max-width: 150px;
    }

    .packetbutton{
      text-align: center;
      padding: 100px 50px ;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
     
    }


    .mainbanner{
      flex-direction: column-reverse;
      
  }


    .banner-image img{
     
      max-width:450px;
      padding-left: 180px;
      
    }
    .banner{
      background-image: url(images/Group\ 14.png);
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
    .baner-con{
  
      margin: 20px 0px;
      padding: 0px;
      text-align: center;
    }

   

    .baner-con h2{
      font-size: 1.5rem;
      
  
    }
   .iconperaadj{
    display: flex;
    justify-content:flex-start;
    padding-left: 280px;
    text-align: center;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
  
   }
  
   .signin{
    height: 30px;
    width: 140px;
    color: #FFF;
    font-weight: 600;
    font-size: 0.7rem;
    align-items:center;
    
  }
   .gorough{


    height: 30px;
    width: 140px;
    color: #FFF;
    font-weight: 600;
    font-size: 0.7rem;
    align-items:center;
    
   }
  
    .baner-con h1{
      font-size: 2rem;
    }
   
   /* Play instant styles */
   .play-instant {
    max-width: 600px;
    height: auto;
    flex-direction: column;
}

.play-instant-text {
    width: 600px;
    height: auto;
    padding-right: 0;
}

.play-instant-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.play-instant-subtitle {
    text-align: center;
    font-size: 1.125rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

.play-instant-img {
    width: 600px;
    height: 570px;
    position: relative;
}

.play-instant-img-1 {
    width: 450px;
    height: 480px;
    position: absolute;
    top: 0;
    right: 0;
}

.play-instant-img-1 img {
    width: 450px;
    height: 480px;
}

.play-instant-img-2 {
    width: 250px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.play-instant-img-2 img {
    width: 250px;
    height: 280px;
}   



}

@media screen and (min-width:1024px) and (max-width:1440px){

  header{
   
    display: flex;
    justify-content: space-between;
   
    text-align: center;
    padding: 50px 100px;

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}


.funny-vedio{
  text-align: center;
  padding: 80px 60px ;
}

.card img{
  max-width: 210px;
}

.packetbutton{

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px 50px;

}



    .mainbanner{
      display: flex;
      justify-content: space-between;
  }
  .banner{
    background-image: url(images/Group\ 14.png);
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .baner-con h2{
    font-size: 2rem;
    font-weight: 600;
    color: #0B0223;

  }
 .iconperaadj{
  display: flex;
  justify-content:flex-start;
  text-align: center;
  align-items: center;
  gap: 5px;

 }

 .signin{
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  background-color: #F948B2;
}

.signin:hover{
  color: white;

}


 .gorough{
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  border: 0;
  background-color:#4EC5F7;
 }

 .gorough:hover{
  color: white;
 }


  .baner-con h1{
    font-size: 3rem;
    font-weight: 800;
    color: #0B0223;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

  }




  .baner-con{

    margin-left: 150px;
    padding-top: 50px;
  }
  .banner-image{
    
    margin-right:150px;
    overflow: visible;
  }
  .banner-image img{
    
    width: 400px;
  }

   /* Play instant styles */
   .play-instant {
    max-width: 600px;
    height: auto;
    flex-direction: column;
}

.play-instant-text {
    width: 600px;
    height: auto;
    padding-right: 0;
}

.play-instant-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.play-instant-subtitle {
    text-align: center;
    font-size: 1.125rem;
    padding-top: 30px;
    padding-bottom: 50px;
}

.play-instant-img {
    width: 600px;
    height: 570px;
    position: relative;
}

.play-instant-img-1 {
    width: 450px;
    height: 480px;
    position: absolute;
    top: 0;
    right: 0;
}

.play-instant-img-1 img {
    width: 450px;
    height: 480px;
}

.play-instant-img-2 {
    width: 250px;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.play-instant-img-2 img {
    width: 250px;
    height: 280px;
}   
  
}




/* low device*/

@media screen and (min-width: 375px) and (max-width: 766px){


  .mainbanner{
    flex-direction: column-reverse;
    
}

.banner-image img{
 
  max-width:250px;
  padding-left: 75px;
  
}
.banner{
  background-image: url(images/Group\ 14.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.baner-con{

  margin: 20px 0px;
  padding: 0px;
  text-align: center;
}
.banner-image{

  margin-right: 240px;
}


}


